.Title {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Desc {
  height: 150px;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Img {
  height: 250px;
  width: 200px;
  padding: 20px;
  margin: auto;
}

.Price {
  font-size: 17px;
  color: gray;
}

.Row {
  height: 50px;
}
