<div class="card text-center">
  <img
    class="card-img-top p-1"
    [src]="[product.images[0]]"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title Title">{{ product.title }}</h5>

    <div class="row Row align-items-center">
      <h5 class="col-7 card-title">{{ product.category?.["name"] }}</h5>
      <h6 class="col-5 card-title Price">{{ product.price | price }}</h6>
    </div>
    <div class="row gap-2 mt-3">
      <a class="col btn btn-success" (click)="addToCart()">Add To Cart</a>
      <a class="col btn btn-warning" routerLink="/product-list/{{ product.id }}"
        >View Details</a
      >
    </div>
  </div>
</div>
