.Title {
  height: 50px;
  font-size: 18px;
}

.Category {
  font-size: 16px;
}

.Price {
  font-size: 17px;
  color: gray;
}

.Row {
  height: 50px;
}

.star {
  font-size: 30px;
  color: rgb(201, 201, 201);
}

.starInList{
  color: rgb(255, 208, 0)
}
