<div
  *ngIf="loaderService.isLoading | async; else notLoading"
  class="loader"
></div>

<ng-template #notLoading>
  <div class="text-center" *ngIf="product.images">
    <div class="row p-4">
      <img class="col-4" [src]="[product.images[0]]" />
      <img class="col-4" [src]="[product.images[1]]" />
      <img class="col-4" [src]="[product.images[2]]" />
    </div>

    <div class="card-body">
      <h5 class="card-title Title">{{ product.title }}</h5>
      <p class="card-text Desc">
        {{ product.description }}
      </p>
      <div class="row">
        <h5 class="col-7 card-title">{{ product.category?.["name"] }}</h5>
        <h6 class="col-5 card-title Price">{{ product.price | price }}</h6>
      </div>

      <a class="btn btn-success" (click)="addToCart()">Add To Cart</a>
    </div>
  </div>
</ng-template>
