<div *ngIf="carts.length == 0; else getTable" class="text-center">
  <div class="p-3 text-warning fs-5">Not Found Any Products</div>
  <img
    src="../../assets/undraw_empty_re_opql.svg"
    class="NoCarts"
    alt=""
    srcset=""
  />
  <a class="btn btn-success mt-5 p-2" routerLink="/">Go To Buy</a>
</div>

<ng-template #getTable>
  <div class="p-2">
    <h1 class="text-center">Cart</h1>
    <table
      class="table table-bordered border-warning text-light text-center fs-5"
    >
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>R</th>
        </tr>
      </thead>
      <tbody *ngFor="let cart of carts; let i = index">
        <tr class="">
          <td>
            <img class="Img" src="{{ cart.images[0] }}" alt="" />
          </td>
          <td>{{ cart.title }}</td>
          <td>{{ cart.price | price }}</td>
          <td>
            <a class="btn btn-success rounded-4" (click)="increase(i)"
              >+</a
            >
            <span class="m-3">{{ cart.quantity }}</span>
            <a class="btn btn-warning rounded-4" (click)="decrease(i)">-</a>
          </td>
          <td>
            <a class="btn btn-danger" (click)="remove(i, cart.quantity)"
              >remove</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <h1>Total : {{ totalPrice }}</h1>
  </div>
</ng-template>
