/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  background-color: rgba(15, 13, 13, 0.993);
  color: antiquewhite;
  font-family: "Poppins", sans-serif;
}
